{% extends "base.html" %}
{% block title %} Propiedades en Venta {% endblock %}
{% block content %}
<body>  
  <h1>Propiedades en Ventas</h1>
  <div class="productsContainer">
    {%for el in ventas%}
      <div class="product">      
        <h3>{{el.nombre}}</h3>
        <img src="{{el.imagen}}" alt="imagen de la propiedad">
        <p>Precio: U$D {{el.precio}}</p>
        <p>Descripcion: {{el.descripcion}}</p>
        <p>Antiguedad: {{el.antiguedad}} años</p>  
        <p>Apto credito: 
          {% if el.credito == True %}
            Si
          {% else %}
            No
          {% endif %}
        </p>  
      </div>
    {% endfor %}
  </div>    
  <!-- link a crear Venta -->
  <a href="/ventas/create-venta">Crear Venta</a>
  
  {% endblock %}
</body>
  